html{
  font-family: Helvetica, sans-serif;
  text-align: center;
}
a{
  color: white;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
.design{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
#navigation{
  font-size: 18px;
  color: white;
}
h2{
font-size: 32px;
}
.label{
font-size: 23px;
font-weight: bold;
}
.desc{
font-size: 14px;
}
.footer{
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;

}
