html{
  font-family: Helvetica, sans-serif;
  text-align: center;
}
h1{
  font-size: 70px;
  font-weight: bold;
}
.design{
  background-image: url("broadway/resources/the-flatiron-building.png");
  color: white;
}
#navigation{
  font-size: 18px;
}
